:root {
    --primary-color: #ff8c28;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Nút đổi ảnh màu xanh Blue giống ảnh bạn gửi */
.btn-primary {
    background-color: #0d6efd !important;
    border: none;
}

/* Tùy chỉnh Menu bên trái */
.custom-menu .list-group-item {
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 10px !important;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
}

/* Hiệu ứng Tab đang chọn: chữ xanh lá đậm như hình */
.active-tab {
    color: #198754 !important;
    /* Màu Success */
    font-weight: bold;
    background-color: transparent !important;
}

.min-vh-50 {
    min-height: 500px;
}